.input-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 600px;
  padding: 50px;
  background-color: #fff;
  box-shadow: -20px 10px 100px 10px #b1b1b1;
  border-radius: 5px;
}

.input-form-header {
  width: 85%;
  flex-direction: "row";
  height: fit-content;
  font-size: 3em;
  font-weight: bold;
}

.input-form-sub-header {
  width: 85%;
  font-size: 1.3em;
  color: #878787;
  height: 10%;
  margin-top: 1em;
  height: fit-content;
}
.input-form-data-entry-error {
  color: red;
  width: 85%;
  margin-top: 0;
  padding: 0;
  height: 1em;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  position: relative;
  top: 8px;
}
.input-form-data-entry-container {
  display: flex;
  width: 85%;
  flex-direction: row;
  margin-top: 1.5em;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  align-items: center;
  height: 10%;
}
.input-form-data-entry {
  font-size: 1.2em;
  margin-left: 5%;
  border: none;
  width: 80%;
}
.input-form-data-entry:focus {
  outline: none;
}

.input-form-data-entry::placeholder {
  color: #000;
}

.input-form-button {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 10%;
  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.25);
  background: radial-gradient(50% 762.16% at 50% 100%, rgba(95, 191, 249, 0.7) 30.21%, #5fbff9 75%);
  font-size: 1em;
  border-style: none;
  margin-top: 1.5em;
}
.input-form-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.input-form-footer-container {
  width: 85%;
  height: 10%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form-footer-button {
  background-color: inherit;
  border-style: none;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.input-form-footer-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media only screen and (max-width: 1600px) {
  .input-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    padding: 40px;
    background-color: "red";
    box-shadow: -20px 10px 100px 10px #b1b1b1;
    border-radius: 5px;
  }

  .input-form-header {
    width: 85%;
    flex-direction: "row";
    height: fit-content;
    font-size: 2em;
    font-weight: bold;
  }

  .input-form-sub-header {
    width: 85%;
    font-size: 1em;
    color: #878787;
    height: 10%;
    margin-top: 1em;
    height: fit-content;
  }
  .input-form-data-entry-error {
    color: red;
    width: 85%;
    margin-top: 0;
    padding: 0;
    height: 1em;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    position: relative;
    top: 8px;
  }
  .input-form-data-entry-container {
    display: flex;
    width: 85%;
    flex-direction: row;
    margin-top: 1.5em;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    align-items: center;
    height: 10%;
  }
  .input-form-data-entry {
    font-size: 1em;
    margin-left: 5%;
    border: none;
    width: 80%;
  }
  .input-form-data-entry:focus {
    outline: none;
  }

  .input-form-data-entry::placeholder {
    color: #000;
  }

  .input-form-button {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 10%;
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.25);
    background: radial-gradient(
      50% 762.16% at 50% 100%,
      rgba(95, 191, 249, 0.7) 30.21%,
      #5fbff9 75%
    );
    font-size: 1em;
    border-style: none;
    margin-top: 1.5em;
  }
  .input-form-button:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .input-form-footer-container {
    width: 85%;
    height: 10%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-form-footer-button {
    background-color: inherit;
    border-style: none;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
  }

  .input-form-footer-button:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
@media only screen and (max-width: 1440px) {
  .sign-up-page-container {
    width: 1400px;
    height: 750px;
  }
}

@media only screen and (max-width: 1270px) {
  .sign-up-page-container {
    width: 1270px;
    height: 650px;
  }
}
