.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
  height: 1000px;
}

.login-page-contents-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 1600px) {
  .login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 850px;
  }
}
