.sign-up-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
  height: 1000px;
}

@media only screen and (max-width: 1600px) {
  .sign-up-page-container {
    width: 1600px;
    height: 850px;
  }
}
@media only screen and (max-width: 1440px) {
  .sign-up-page-container {
    width: 1400px;
    height: 750px;
  }
}

@media only screen and (max-width: 1270px) {
  .sign-up-page-container {
    width: 1270px;
    height: 650px;
  }
}
