.list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background: white;
  border: 1px solid #878787;
}

.list-item-property {
  display: flex;
  width: 15%;
  height: 43px;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  padding: 0;
  margin: 0;
}

.list-item-edit-button {
  outline: none;
  border: none;
  background: inherit;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-item-edit-button:hover {
  cursor: pointer;
}
