.summary-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 120px;
  background-color: white;
  border-radius: 5px;
  outline: none;
  border-style: none;
}

.summary-box-container:hover {
  cursor: pointer;
}

.summary-box-text {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  width: 80%;
}
.summary-box-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

@media only screen and (max-width: 1600px) {
  .summary-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    outline: none;
    border-style: none;
  }
}
@media only screen and (max-width: 1440px) {
  .summary-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 90px;
    background-color: white;
    border-radius: 5px;
    outline: none;
    border-style: none;
  }
}
@media only screen and (max-width: 1200px) {
  .summary-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    outline: none;
    border-style: none;
  }
}
